asgiref
attrs
click
dj-database-url
Django
djangorestframework
drf-spectacular
gunicorn
inflection
jsonschema
jsonschema-specifications
ordereddict
packaging
Pillow
psycopg2-binary
python-dotenv
pytz
PyYAML
referencing
rpds-py
sqlparse
typing-extensions
uritemplate
